@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono Variable', monospace;
  @apply bg-gray-900 text-green-500 flex min-h-screen w-full;
}

body>* {
  @apply grow;
}

#root {
  @apply grow flex items-center justify-center;
}

#root>* {
  @apply grow;
}

.custom-scrollbar {

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #111827;
    background-color: #111827;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #111827;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1f2937;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #374151 !important;
  }
}